/* App.css */
.monster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }

input {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgba(146, 146, 146, 0.1);
  color: rgb(160, 160, 160);
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 30%;
}

/* Footer style */
.footer {
  letter-spacing: 2px;
}

.footer a {
  color: rgb(201, 201, 201);
}

.footer a:hover {
  color: rgb(224, 224, 224);
}