/* App.css */
.monster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
  }
  
  .monster-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .monster-card h3 {
    margin-top: 0;
  }

  input {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(146, 146, 146, 0.1);
    color: rgb(160, 160, 160);
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 30%;
  }