/* Container styles */
.monster-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
  }
  
  /* Card styles */
  .monster-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    background-color: #c2c2c2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .monster-card h2 {
    color: rgb(8, 133, 235);
    line-height: 1em;
    text-align: center;
  }

  .monster-card p {
    color: rgb(37, 37, 37);
    line-height: 1.3em;
  }

  p.species {
    text-align: center;
    color: rgb(54, 54, 54);
    font-style: italic;
  }

  p.description {
    margin-top: 40px;
  }

  .expand-btn {
    color: rgb(8, 133, 235);
  }
  
  .element-icon {
    width:20px;
  }

  .card-section-title {
    text-align: center;
    font-weight: bold;
  }

  .centered-text {
    text-align: center;
  }
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .monster-cards-container {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  