/* MonsterCard.css */

/* Container style */
.monster-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
    clear:both;
  }
  
/* Cards style */
.monster-card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  background: rgb(194,194,194);
  background: linear-gradient(0deg, rgba(194,194,194,1) 65%, rgb(128, 128, 128) 100%);
}

.monster-card h2 {
  color: rgb(8, 133, 235);
  line-height: 1em;
  font-family: 'Cinzel', serif;
  padding-top: 10px;
}

.monster-card p {
  color: rgb(37, 37, 37);
  line-height: 1.3em;
}

p.species {
  color: rgb(88, 88, 88);
  font-style: italic;
  line-height: 0;
}

p.description {
  margin-top: 40px;
  text-align: justify;
}

.expand-btn {
  color: rgb(8, 133, 235);
}

.element-icon {
  width:20px;
}

.monster-icon {
  height: 150px;
  margin: 0 auto;
  display: block;
}

/* General styles */
.centered {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.star-icon {
  font-size: 10px;
  text-shadow: 1px 1px 1px black;
}

/* Weaknesses/Resistances style */
.wr-row {
  display: flex;
}

.weaknesses {
  flex: 50%;
}

.resistances {
  flex: 50%;
}

.element-rating {
  white-space: nowrap;
  padding: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .monster-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
  