/* NavigationMenu.css */
.navigation-menu {
    background-color: #111111; 
    color: #d6c096;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    vertical-align: middle;
  }
  
.left-section {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px; 
}

.app-name {
    font-size: 1.5rem; 
    font-family: 'Cinzel', serif;
}

.right-section {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.game-logo {
    width: 40px;
    cursor: pointer;
}
  